.full-test{
    background-color: rgb(244, 184, 184);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 20px 30px;
    background-color: blue;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
}
.full-popup{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.651);
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 30%;
}
.popup-card>h2{
    padding-top: 10px;
    margin: 0 auto;
} 
.popup-card>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 50px;
}
.popup-card>form>input{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(210, 210, 210);
}
.popup-card>form>input:last-child{
    background-color: rgb(22, 190, 22);
    color: white;
    font-weight: 500;
    width: 100px;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
    cursor: pointer;
}
.popup-card>form>input:last-child:hover{
    background-color: green;
}